.tatto
{
    display: flex;
    margin: auto;
    align-items: center;
    border-style:groove;
}
.jona
{
    width: 100px;
}
.title
{
    font-size: 1rem;
}
p{
    color: brown;
}
h1{
    font-size: 4rem;
}